*,*::before,*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(135deg,#ffcf1b,#ff8b1b);

}
/* body ::before{
    content: "";
    background: url("bg.jpg") no-repeat /cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.05;
} */
.container{
    width: 45%;
    min-width: 500px;
    background-color: #ffffff;
    padding:40px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.hea{
    text-align: center;
    font-size: 30px;
}
.scores{
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    width: 100%;
    font-weight: bold;
    justify-content: space-around;
    text-align: center;
    background-color: #ffd51b;
    padding: 5px;
    font-size: 35px;
}
p{
    font-size: 23px;
}
.weapons{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.weapons button{
    /* background-color: #ffd51b; */
    color: white;
    border: solid 1px black;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
button:hover{
    border: 5px solid rgb(68, 64, 64);
    border-radius: 55%;
}
.details{
    margin-top: 35px;
    text-align: center;
}
.scores,.details{
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-size: 20px;
}
#result{
    width: 170px;
    font-size: 20px;
    padding: 15px 0;
    margin: 30px auto;
    font-weight: 700;
    letter-spacing: 1px;
}
#user_choice,#computer_choice{
    font-weight: 500;
    margin-bottom: 15px;
}
span{
    font-weight: 700;
}